<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <h1>Koirarekisteri</h1>

        <form th:action="@{/addDog}" method="post">
            <input type="submit" value="Lisää koira"/>
        </form>
        
        <p>Paina <a th:href="@{/listDog}">tästä</a> listataksesi kaikki koirat.</p>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Kirjaudu ulos"/>
        </form>

        
        
        <div th:if="${dogList != null}">
        <table>
            <tr>
                <td>ID</td>
                <td>Koiran nimi</td>
                <td>Koiran rotu</td>
            </tr>
            <tr th:each="dog : ${dogList}">
                <td th:text="${dog.id}">1</td>
                <td th:text="${dog.nimi}">nimi</td>
                <td th:text="${dog.rotu}">rotu</td>
            </tr>
        </table>
        </div>

    </body>
</html>